.concept-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 3 columns */
    justify-items: center;                  /* center horizontally */
    gap: 10px;
    text-align: center;
}

.concept {
    background-color: bisque;
    width: 300px;
    height: 250px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px grey;
    margin: 10px;
}

.concept-img {
    background-color: #ffe4c4;
    color: brown;
    height: 72%;
    width: auto;
}

.concept-title {
    width: auto;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.concept-text {
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    text-align: center;
}